.footer{
  max-height: 220px;
  @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
    @include flex-r-align-cc;
      max-height: 150px;
  }
  @media screen and (min-width: $breackpoint-lg){
    @include flex-r-align-cc;
      max-height: 150px;
  }
  .row{
    @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
      @include flex-r-align-cc;
      padding: 0;
    }
    @media screen and (min-width: $breackpoint-lg){
      @include flex-r-align-cc;
      padding: 0;
    }
    .col-sm-12{
      height: 60px;
      width: auto;
      .sponsors{
        @include flex-r-align-cc;
        width: auto;
      }
      .termini{
        width: 100%;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
          @include flex-r-align-cc;
        }
        @media screen and (min-width: $breackpoint-lg){
          @include flex-r-align-cc;
        }
        span{
          color: grey;
        }
      }
    }
  }
}
