.footer{
  max-height: 200px;
  @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
    @include flex-r-align-cc;
      max-height: 150px;
  }
  @media screen and (min-width: $breackpoint-lg){
    @include flex-r-align-cc;
      max-height: 150px;
  }
  .row{
    @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
      @include flex-r-align-cc;
      padding: 0 10%;
    }
    @media screen and (min-width: $breackpoint-lg){
      @include flex-r-align-cc;
      padding: 0 10%;
    }
    .col-sm-12{
      height: 60px;
      @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
        width: calc(100% / 2);
      }
      @media screen and (min-width: $breackpoint-lg){
        width: calc(100% / 2);
      }
      .sponsors{
        @include flex-r-sp-ar;
        .termini{
          @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
            @include flex-r-align-cc;
          }
          @media screen and (min-width: $breackpoint-lg){
            @include flex-r-align-cc;
          }
          span{
            color: grey;
          }
        }
      }
    }
  }
}
