.navbar{
  z-index: 3;
  width: 100%;
  height: 50px;
  .container-fluid{
    width: 100%;
    height: 50px;
    @include flex-r-align;
    @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
      @include flex-r-align-spar;
    }
    @media screen and (min-width: $breackpoint-lg){
      @include flex-r-align-cc;
    }
    .navbar-brand{
      img{
        @include position-center;
        @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){

        }
        @media screen and (min-width: $breackpoint-lg){
          @include position-inherit;
          margin-right: 30px;
        }
      }
      .navbar-collapse{
        flex-grow: 0;
        @include flex-r-align;
        @media screen and (min-width: $breackpoint-md) and (max-width: $breackpoint-lg){
          width: auto;
          display: flex;
          margin-right: 0px;
          flex-grow: 0!important;
        }
        @media screen and (min-width: $breackpoint-lg){
          width: auto;
          display: flex;
          margin-right: 0px;
          flex-grow: 0!important;
        }
      }
    }
  }
}
